.authButton, .regular{
    padding: 10px 30px;
    border-radius: 5px;
    background-color: #5D5FEF;
    text-align: center;
    color: white;
    font-size: 20px;
    border: none;
    cursor: pointer;
}

.regular{
    padding: 5px 15px;
}

.authButton:hover, .regular:hover{
    background-color: #5b5ddb;
}

.nav{
    background-color: transparent;
    padding: 10px 30px;
    border-radius: 5px;
    border: 1px solid rgb(100, 100, 100);
    cursor: pointer;
}

.nav.nav_act{
    background-color: #5D5FEF;
}

.nav:hover{
    border: none;
    text-decoration: underline;
    font-size: 0.9em;
}

