.navigation{
    width: 100%;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
  
.navigation a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.navigation a:hover {
    text-decoration: underline;
}

/* NavBar.module.css */

/* Styles for the modal wrapper */
.modalWrapper {
    position: relative; /* Change to relative positioning */
  }
  
  /* Styles for the modal */
  .modal {
    position: absolute;
    top: 100%; /* Position below the button */
    left: 50%;
    /* background-color: #292929; */
    background-color: #131722;
    border-radius: 10px;
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.2);
    padding: 16px;
    width: 400px;
    z-index: 1000;
    margin-top: 8px;
    white-space: nowrap;
  }
  
  /* Styles for the modal list */
  .modalList {
    padding: 0;
    justify-content: space-between; 
    flex-wrap: wrap; 
  }

  .modalList li {
    cursor: pointer;
    padding: 4%;
    transition: background-color 0.3s ease;
    box-sizing: border-box;
  }
  
  /* Highlight the selected item */
  .modalList li:hover {
    text-decoration: underline;
  }

.menuButton {
  display: none !important;
  position: fixed !important;
  top: .5rem;
  left: 0;
  width: 4rem;
  height: 4rem;
}

.header {
  background-color: #2a2e39;
}


.drawerNavigation {
  background-color: #2a2e39;
  height: 100vh;
}


@media (max-width: 930px) {
  .menuButton {
      display: block !important;
  }

  .navigation ul {
      display: none;
  }

  .drawerNavigation ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
  }

  .addMenu {
    margin-top: .5rem;
    padding-top: 1rem !important;
    border-top: 1px dashed white;
  }

  .addMenu li {
    color: white;
    font-size: .7rem;
    cursor: pointer;
  }
  
}
