.combinations{
    width: 95%;
    /* background-color: #3b3b3b; */
    background-color: #2a2e39;
    min-height: 80vh;
    text-align: center;
    border-radius: 30px;
    padding: 1%;
    margin: 0 auto;
}

.combTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2rem;
    font-size: .8em;
}

.combTable th,
.combTable td {
    /* border-bottom: 1px solid #ddd; */
    border-bottom: 1px solid #646464;
    padding: 8px;
    text-align: center;
}

.combTable th {
    /* background-color: #575757; */
    background-color: #131722;
}

.combTable tr:nth-child(even) {
    /* background-color: #575757; */
    background-color: #131722;
}

caption{
    color:  #c78f97;
    font-size: 1rem;
}

.menu{
    display: flex;
    width: 60%;
    list-style-type: none;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    padding: 2%;   
}

.menu li{
    cursor: pointer;
    padding: 10px 20px;
}

.menu li:hover{
    outline: 1px solid white;
    outline-offset: -1px;
    border-radius: 10px;
}

.menu_active{
    border-radius: 10px;
    background-color: rgb(126, 126, 126);
}

.list {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border-bottom: 4px dotted rgb(175, 175, 175);
}


.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #007bff;
}

input:checked + .slider:before {
    transform: translateX(16px);
}
