.iconButton {
    position: fixed !important;
    top: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
}
.icon {
    width: 100% !important;
    height: 100% !important;
}

.pannel{
    max-width: 300px;
    height: 100vh;
    padding: 20px;
    background-color: #131722;
}

.content{
    text-align: center;
    color: white;
}

.header {
    background-color: #2a2e39;
}

.settings {
    margin: 1rem;
}

